body {
    font-family: 'Carrois Gothic';
    font-size: 1em;
}

h3 {
    font-family: 'Carrois Gothic';
    font-size: 1em;
    color: black;
    background-color: gainsboro;
    padding: 15px;
}

output {
    font-family: 'Carrois Gothic';
    font-size: 1em;
    border-radius: 3px;
    text-align: center;
    font-size: 4em;
}

p {
    font-family: 'Carrois Gothic';
    font-size: 1em;
}

.mathButton {
    flex: display flex;
    height: 50px;
    width: 50px;
    background-color: tan;
    border-radius: 3px;
    font-family: 'Carrois Gothic';
    font-size: 2em;
    color: black;
}

;